{% schema %}
{
  "name": "Instagram Post Secton",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Instagram Post"
    }
  ],
  "presets": [
    {
      "name": "Instagram Post Secton",
      "category": "Instagram Post"
    }
  ]
}
{% endschema %}

<section class="instagram-post">
  <div class="page-width">
    <script src="https://tiktok.orichi.info/instagram.js" defer></script><div name="orichi-instagram" data-id="2f49c758-bdc5-467a-951b-efc1cdd39a5c"></div>
  </div>
</section>
